    <div class="comment">
        <div class="comment-heading">
            <div class="comment-author">{{user.username}}</div>
            <div class="comment-createdAt">{{format_date createdAt}}</div>
        </div>
        <div class="comment-body">
            <p>{{content}}</p>
        </div>
    </div>
