    <nav class="navbar is-primary is-transparent">
                <a href="/" class="navbar-item">Home</a>
                <a href="/dashboard" class="navbar-item">Dashboard</a>
                <a href="/login" class="navbar-item">Log In</a>
                <a href="/signup" class="navbar-item">Sign Up</a>
                <a class="navbar-item">Logout</a>
    </nav>