    <nav class="navbar is-primary is-transparent">
                <a href="./index.html" class="navbar-item">Home</a>
                <a href="./dashboard.html" class="navbar-item">Dashboard</a>
                <a href="./login.html" class="navbar-item">Log In</a>
                <a href="./signup.html" class="navbar-item">Sign Up</a>
                <a class="navbar-item">Logout</a>
    </nav>