<nav class="navbar is-primary is-transparent">

    <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="pages">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>

    <div id="pages" class="navbar-menu">

        <div class="navbar-start">
            {{!-- if user is logged in, display app pages --}}
            <a href="/" class="navbar-item">Home</a>
            <a href="/dashboard" class="navbar-item">Dashboard</a>
        </div>

        <div class="navbar-end">
            {{!-- If user is logged in, show logout button --}}
            {{#if logged_in}}
            <button class="navbar-item" id="logoutBtn">Logout</button>
            {{else}}
            <a href="/login" class="navbar-item">Log In</a>
            <a href="/signup" class="navbar-item">Sign Up</a>
            {{/if}}
        </div>
        
    </div>

</nav>