<div class="card">
    <header class="card-header">
        <p class="card-header-title">{{article.title}}</p>
        <p>Posted by {{article.username}} on {{article.createdAt}}</p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{article.content}}</p>
        </div>                    
    </div>
</div>