 <header>
        <h1 class="title">The Tech Blog</h1>
    </header>
        <div class="container">
            <section class="articles">

                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Article 1</p>
                        <p>Posted by eileenmh on 5/8/2023</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat feugiat laoreet. In tristique laoreet porttitor. Donec volutpat consectetur leo et scelerisque. Etiam convallis, felis vel iaculis accumsan, dui lacus consequat massa, et congue erat dui in purus. Ut ac viverra nisl, et bibendum lacus.</p>
                        </div>                    
                    </div>
                </div>

                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Article 1</p>
                        <p>Posted by eileenmh on 5/8/2023</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat feugiat laoreet. In tristique laoreet porttitor. Donec volutpat consectetur leo et scelerisque. Etiam convallis, felis vel iaculis accumsan, dui lacus consequat massa, et congue erat dui in purus. Ut ac viverra nisl, et bibendum lacus.</p>
                        </div>                    
                    </div>
                </div>

            </section>
        </div>