<script src="./js/sign-up.js"></script>
<header>
    <h1 class="title">Create An Account</h1>
</header>
<form>
    <div class="field">
        <label for="username" class="label">Username</label>
        <div class="control">
            <input class="input" type="text" id="username" required>
        </div>
        <p class="help" id="username-helper">This username is taken.</p>
    </div>
    <div class="field">
        <label for="password" class="label">Password</label>
        <div class="control">
            <input class="input" type="password" id="password" required>
        </div>
        <p class="help" id="password-helper"></p>
    </div>
    <p>Email: This field is required.</p>
    <p>Password: This field is required.</p>
    <div class="field">
        <div class="control">
            <button class="button is-primary" id="signUpBtn">Sign Up</button>
        </div>
    </div>
</form>