<header>
    <h1 class="title">Create An Account</h1>
</header>
<form>
    <div class="field">
        <label for="username" class="label">Username</label>
        <div class="control">
            <input class="input" type="text" id="username" required>
        </div>
    </div>
    <div class="field">
        <label for="password" class="label">Password</label>
        <div class="control">
            <input class="input" type="password" id="password" required>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary">Sign Up</button>
        </div>
    </div>
</form>